@Montserrat-path: './Montserrat/static';

@font-face {
  font-family: "Montserrat-Light";
  src: url('@{Montserrat-path}/Montserrat-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url('@{Montserrat-path}/Montserrat-Bold.ttf') format("truetype");
}
